<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/styless.css">
    <link href="/static/https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.css">
    <link rel="stylesheet" href="/static/path/to/fontawesome.min.css">
    <link href="/static/https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css" integrity="sha384-jLKHWM3JRmfMU0A5x5AkjWkw/EYfGUAGagvnfryNV3F9VqM98XiIH7VBGVoxVSc7" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <style>
     
    </style>



</head>
<body>
    <div id="main">
        <div data-scroll data-scroll-speed="-5" id="page1">
            
            <div class="bottom-page1">
                <h1>Welcome </h1>
                
            </div>
            <video src="https://cdn.coverr.co/videos/coverr-iv-in-hospital-room-5485/1080p.mp4" autoplay loop muted ></video>
        </div>
        <div data-scroll data-scroll-speed="" id="page2">
          <div class="gradient-bg">
            
            </div>
         

  
    <h1> Our curated survey form has all the necessary questions required to derive the most useful insights about the functioning of your hospital. </h1>
    <video src="https://cdn.coverr.co/videos/coverr-doctor-in-a-surgery-3600/1080p.mp4" autoplay muted loop ></video>
        </div>
        <div data-scroll data-scroll-speed="-5" id="page5">
          <h1></h1>
        <section class="container">
          <section class="card__container">
            <div class="card__bx" style="--clr: #00FFFF">
              <div class="card__data">
                <div class="card__icon">
                  <i class="fa-solid fa-question"></i>
                </div>
                <div class="card__content">
                  <h3>Link of Form</h3>
                  <p>Click here to receive a link of our survey form on your e-mail address.</p>
                  <a href="demo_surveyform.html">Read More</a>
                </div>
              </div>
            </div>
            <div class="card__bx" style="--clr: #fff">
              <div class="card__data">
                <div class="card__icon">
                  <i class="fa-solid fa-line-chart"></i>
                </div>
                <div class="card__content">
                  <h3>Upload your file</h3>
                  <p>Upload the collected data from your google form in ".csv" format only. </p>
                  <a href="{% url 'webpage6' %}">Read More</a>
                </div>
              </div>
            </div>
            
        
          </section>

        </section>

      
          </div>
          
        
    
    
       


          
        </div>
       
        <script src="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.1/gsap.min.js" integrity="sha512-qF6akR/fsZAB4Co1QDDnUXWnaQseLGXoniuSuSlPQK6+aWhlMZcHzkasCSlnWoe+TJuudlka1/IQ01Dnhgq95g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.1/ScrollTrigger.min.js" integrity="sha512-IHDCHrefnBT3vOCsvdkMvJF/MCPz/nBauQLzJkupa4Gn4tYg5a6VGyzIrjo6QAUy3We5HFOZUlkUpP0dkgE60A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="/static/scriptx.js"></script>
    </body>
    </html>

