#main h1{
    font-family: 'Poppins';
    font-size: 7.5em;
    margin-left: 60%;
    width: 10%;
    color: white;
    margin-right: 55px;
    position: fixed;
    background: transparent;
    z-index: 1;
    line-height: 150px;



    
}
#part1 ul{
  display: flex;
  flex-direction: column;
  gap: 50px;
  width: 40%;
  position: absolute;
  background: transparent;
}
#part1 li{
  background-color: transparent;
  font-family:'Baskerville';
  font-size: 2.8em;
  display: flex;
  width: 100%;
  color: white;
}
li{
  height: 200vh;
  width: 100vw;
}

#part1 #li1{

    height: 150vh;
    width: 50vw;
}
#part1 #li2{
    height: 300vh;
    width: 50vw;
}
#part1 #li3{
 
    height: 200vh;
    width: 50vw;
}

#part1 #li4{
 
  height: 200vh;
  width: 50vw;
}





body {
  background: linear-gradient(#001515, #000)
}

html{
  background: linear-gradient(#001515, #000);
}